@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html {
    margin: 0;
  }

body {
    font-family: 'Poppins';
}  

  span {
    display: block;
  }

  .container {
    margin-top: 180px;
    text-align: center;
  }

  
.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.color {
  background-color: #f95959;
  color: white;
}


.refresh {
  background-color: #e3e3e3;
  color: black;
}
    
.button:active {
    transform: scale(0.9);
  }

  .rgb {
    font-family: 'poppins';
    font-weight: 600;
    margin-top: 20px;
    color: black;
  }

  